/* Assign New tutor */

/**** Index ****
	1.Body Content
		1.1.Form
		1.2.Results
	2.MediaQuerry
		2.1.Mobile

****/

/* Body Content */
.body-content .inner-wrapper{
	overflow: hidden;
	padding: 40px 25px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	background: #fff;
	position: relative;
}

/* Form */
.form-inline .form-group {
	margin: 0 50px 26px 0;
	width: 380px;
}

.form-inline .form-control {
	height: 44px;
	margin-left: 0;
	padding: 12px 0 12px 22px;

	width: 230px;
}

.form-group .filter-location span.fa-map-marker,
.form-group .calendar span.fa-calendar{
	top: 14px;
}

.form-group label{
	color: #a4a4a4;
	font-weight: 300;
	margin-top: 8px;
}

.form-group button[type="submit"] {
	height: 45px;
	width: 232px;
}

.tags-holder{
	float: left;
	margin: 0 0 16px 150px;
}

.tags-holder .tag{
	color: #d6d6d7;
	display: inline-block;
	margin: 0 10px 10px 0;
	padding: 10px 12px;
	background: #f3f3f3;
	border-radius: 5px;
}

.tags-holder .active.tag{
	color: #fff;
	background: #126889;
}

.time-holder{
	float: right;
}

.select-time {
	display: inline;
	overflow: hidden;
}

.form-control.small-field {
	float: none;
	padding-left: 3px;
	width: 53px;
}

.form-control.small-field[type="text"] {
	width: 40px;
}

.select-time.start-time::after {
	color: #dedede;
	content: "To";
	margin: 0 5px;
}

/* Results */
.row-result{
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
	padding: 30px 0;
	width: 100%;
	color: #828282;
}

.tutor-bio {
	overflow: hidden;
}

.tutor-result-holder .profile-img-holder{
	float: left;
    height: auto;
    width: 90px;
}

.tutor-bio img {
	display: block;
}

.tutor-bio .tutor-status {
	height: auto;
	margin: 10px auto 0;
	width: 80px;
}

.profile-bio-info {
	float: left;
	font-size: 0.9em;
	margin: 0 0 0 12px;
	padding: 0;
}

.profile-bio-info h3{
	margin: 0 0 12px 15px;
	font-size: 1.2em;
}

.profile-bio-info p {
	margin: 0 0 5px;
}

.profile-bio-info p .fa {
	margin: 0 10px 0 0;
	color: #f46722;
}

.tutor-rating {
	text-align: center;
}

.tutor-rating .star-rating {
	margin: 0 0 20px;
}

.tutor-rating .review-stats {
	color: #dfe3e5;
}

.tutor-rating .assign {
	background: #f46722;
	border: none;
	color: #fff;
	height: 45px;
	text-transform: uppercase;
	width: 230px;
	padding: 12px 0;
	margin: 20px 0 0;
}

/* Admin select Tutor */
.student-data-filter{
	overflow: hidden;
}

.student-data-filter .inner-wrapper{
	border-radius: 0;
}

.student-data-filter .form-group,
.pick-tutor .form-group {
	width: 392px;
}

.student-data-filter .summery-holder.inner-wrapper{
	background: #fbfbfb;
	padding-left: 12px;
}

.summery-holder .label-wrappe{
	color: #222222;
	float: left;
}

.student-data-filter .summery-holder .summmry-info{
	float: right;
}

.summmry-info .summery-title {
	color: #a4a4a4;
	font-size: 0.85em;
	margin: 0 0 2px;
}

.summmry-info .summery-data {
	font-size: 0.9em;
	margin: 0;
}

.filter-form.col-sm-10 {
	padding-left: 0;
}

.student-data-filter .form-group{
	margin-bottom: 0;
}

.gender-option-holder.col-sm-12,
.package-option-holder.col-sm-12 {
	padding-left: 0;
}

.package-option-holder.col-sm-12 {
	margin: 0 0 20px;
}

.gender-select-title.col-sm-2{
	padding: 0;
}

.gender-select-title p{
	color: #a4a4a4;
	font-weight: 300;
	margin-top: 8px;
}

.gender-options.col-sm-10 {
	padding-left: 0;
}

.gender-options .student_step_common_wrapper{
	margin: 0 0 25px;
}

.pick-tutor .time-holder{
	display: inline-block;
	float: none;
}

.pick-tutor .select-tutor-time label{
	margin-right: 12px;
}

.pick-tutor .small-field[type="text"] {
	padding-left: 5px;
	width: 48px;
}

.pick-tutor .submit-holder{
	margin-right: 0;
	width: 100%;
}

.pick-tutor .submit-holder button[type="submit"] {
	margin-left: 160px;
	float: none;
}

/* Pop ups */
.payment-info.inner-wrapper{
	padding: 38px 38px 18px;
}

.payment-info h3{
	color: #12688a;
	font-size: 18px;
	margin: 0;
}

.payment-info .section-icons{
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
}

.section-icons .fa{
	color: #dededf;
}

.payment-summery.inner-wrapper {
	background: #fbfbfb;
	padding-bottom: 32px;
}

.summmry-info .block-raw{
	margin-bottom: 20px;
}

.time-price{
	background: transparent;
	border: 1px solid #dededf;
	overflow: hidden;
	padding: 20px 12px 15px;
	margin-bottom: 32px;
}

.time-price.alert-danger{
	background: #fceeed;
	border-color: #e7756c;
}

.time-price p{
	margin: 0;
}

.time-price .tut-type {
	color: #222222;
}

.time-price .session-duration {
	color: #bcbcbc;
	font-size: 0.9em;
}

.time-price.alert-danger .session-duration {
	color: #eb928b;
}

.total-price{
	display: inline;
}

.total-price .total-text {
	color: #aaa9a9;
	display: inline-block;
	font-size: 0.85em;
	line-height: 1;
	margin: 10px 0 0;
	text-transform: uppercase;
	width: 58px;
}

.total-price .total-amount {
	color: #f46722;
	display: inline;
	font-size: 2em;
	margin: 0 0 0 28px;
}

.time-remaining {
	color: #f46722;
	float: right;
	font-size: 2.3em;
	padding-right: 82px;
	position: relative;
}

.time-remaining::after {
	background: url(../images/hour-remaining.png) no-repeat 0 0;
	content: "";
	display: inline-block;
	height: 36px;
	position: absolute;
	right: 0;
	top: 0;
	width: 74px;
}

.select-package {
	color: #12688a;
	text-align: center;
}

.not-enough-time {
	color: #ea8780;
	font-size: 0.9em;
	margin: 0;
}

.package-options {
	margin: 20px 0 0;
	overflow: hidden;
}

.filter-form .package-options {
	margin: 0;
}

.package-opt .inner-wrapper {
	background: #f8f8f8;
	border: 1px solid #dededf;
	border-radius: 3px;
	padding: 12px 15px;
	cursor: pointer;
}

.package-opt-title {
	display: inline-block;
	font-size: 0.85em;
	margin: 5px 0 0;
	text-transform: uppercase;
}

.price-per-hour {
	float: right;
	overflow: hidden;
}

.price-per-hour .price {
	color: #666666;
	float: left;
	font-size: 2em;
	line-height: 1;
	margin: 0 8px 0 0;
}

.price-per-hour .per-hour-text {
	float: left;
	font-size: 0.7em;
	line-height: 1;
	margin: 6px 0 0;
	text-transform: uppercase;
	width: 35px;
}

.active .inner-wrapper{
	background: transparent;
}

.active .package-opt-title {
	color: #12688a;
}

.active .price {
	color: #f46722;
}

.payment-controllers{
	text-align: center;
}

.card-preview {
	border: 1px solid #666;
	border-radius: 8px;
	float: none;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 18px;
}

.card-preview  .title {
	position: relative;
}

.title h3 {
	font-size: 1.1em;
	margin: 0;
}

.payment-controllers .section-icons {
	position: absolute;
	right: 0;
	top: 0;
}

.payment-controllers .section-icons .fa {
	margin: 0 0 0 15px;
}

.card-data {
	margin: 18px 0 0;
}

.card-data p {
	line-height: 1;
	margin: 0 0 8px;
	text-transform: uppercase;
}

.payment-controllers-holder {
	margin: 38px 0 0;
}

.payment-controllers-holder .btn{
	color: #fff;
	text-transform: uppercase;
}

.payment-controllers-holder .cancel-btn {
	background: #dededf;
	float: left;
}

.payment-controllers-holder .save-btn {
	background: #f46722;
	float: right;
	border-color: #f46722;
}

.visa-card-id,
.card-details{
	margin: 0 0 15px;
	overflow: hidden;
}

.new-card-details p{
	color: #aaa;
}

.new-card-details input{
	height: 42px;
}

.new-card-details .form-group{
	margin-right: 0;
}

.allowed-cards {
	margin: 38px 0 0;
}

.dates-holder .form-group{
	margin-right: 10px;
	width: 48%;
}

.dates-holder .form-group:last-child{
	margin: 0;
}

.dates-holder .form-group select{
	-moz-appearance: none;
	background: url("../images/drop_icon.png") no-repeat right 14px center;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	color: #bcbcbc;
	display: inline-block;
	height: 42px;
	padding-left: 10px;
	width: 100%;
}

.card-secret-code .cvv-num.col-sm-6 {
	margin: 0 15px 0 0;
	padding: 0;
}

.cvv-num input[type="text"] {
	background: url("../images/student_card_new-1.png") no-repeat 90% center;
}

.card-secret-code .helper-note {
	color: #b4b4b7;
	display: inline-block;
	font-size: 0.8em;
	line-height: 1.2;
	width: 100px;
}

.payment-controllers.new-card{
	padding: 0 15px;
}

/* Success */
.tutor-pick-success.inner-wrapper {
	float: none;
	margin: 0 auto;
	text-align: center;
}

.tutor-pick-success .title {
	margin: 30px 0 25px;
	font-size: 20px;
}

.tutor-pick-success .prof-cards-holder {
	float: none;
	margin: 20px auto;
	text-align: left;
}

.tutor-pick-success .profile-bio-info {
	margin: 0 0 0 35px;
}

.tutor-pick-success .profile-bio-info h3{
	margin-left: 0;
	color: #222;
}

.tutor-pick-success .profile-img-holder {
	float: left;
	margin: 15px 0 0;
}

.tutor-pick-success .session-btns {
	text-align: center;
}

/* Media Querry */
/* Mobile */
@media screen and (max-width: 767px) {
	.filter-form {
		text-align: center;
	}

	.form-inline .form-group {
		margin: 0 0 26px 0;
		width: auto;
	}

	.form-inline .form-control {
		width: 100%;
		padding-left: 0;
	}

	.tags-holder {
		float: none;
		margin: 0 0 16px;
	}

	.form-group .filter-location span.fa-map-marker,
	.form-group .calendar span.fa-calendar {
		top: auto;
		bottom: 14px;
	}

	.time-holder {
		float: none;
	}

	.form-control.small-field[type="text"] {
		width: 100%;
	}

	.select-time.start-time::after {
		margin: 12px 0;
		display: block;
	}

	.form-group.submit-holder {
		overflow: hidden;
	}

	.form-group button[type="submit"] {
		width: 100%;
	}

	.row-result {
		text-align: center;
	}

	.tutor-bio img {
		float: none;
	}

	.profile-bio-info {
		margin: 12px 0 0;
	}

	.tutor-rating {
		margin: 25px 0 0;
	}

	.tutor-rating .assign {
		width: 100%;
	}

	.tutor-result-holder .profile-img-holder {
		float: none;
	}

	.profile-img-holder .img-circle{
		margin: 0 auto;
		width: 90px;
	}

	.profile-bio-info h3 {
		margin-right: 0;
	}

}
.disable_assign_btn  {
    background-color: #CCCCCC !important;
    cursor: not-allowed !important;
    pointer-events: none !important;

}

.payment-errors {
    color: red;
}