/* Admin panel Custom CSS */

/****
	Index
	1.Header
	2.Body Content
	3.Footer
	4.Media Query


	Fonts used: 
		font-family: 'Montserrat', sans-serif;
		font-family: 'Nunito', sans-serif;

****/

body{
    font-size: 14px;
    line-height: 1.53;
    position: relative;
    color: #8e8e8e;
    font-family: 'Montserrat', sans-serif;
    background: #f8f8f8;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #8e8e8e;
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a{
    color:#f46722;
}

a:hover{
    color: #fa844a;
    text-decoration: none;
}

::selection {
    background: #f46722;
    color:#fff;
}
::-moz-selection {
    background: #f46722;
    color:#fff;
}

/* Header */
header{
    position: relative;
    height: 76px;
    background: #fff;
    z-index: 1;
}

header .branding{
    float: left;
    margin-top: 30px;
}

header .admin-panel{
    float: right;
    margin-top: 18px;
}

.admin-greetings{
    position: relative;
}

.admin-greeting{
    cursor: pointer;
    overflow: hidden;
}

.admin-greetings p{
    font-size: 0.8em;
    text-transform: uppercase;
}

.admin-greetings .user-type{
    display: block;
    color: #10698b;
    font-size: 1.1em;
}

.admin-greetings .glyphicon-menu-down{
    margin: 0 10px 0 18px;
}

.admin-panel-dropdown{
    background: #fff;
    border-radius: 8px;
    border-top: 3px solid #ff6900;
    box-shadow: 0 7px 19px -2px #e8e8e8;
    position: absolute;
    right: 0;
    top: 32px;
    width: 209px;
    display: none;
}

.admin-panel-dropdown ul{
    margin: 0;
    padding: 0;
}

.admin-panel-dropdown li{
    display: block;
    list-style-type: none;
    height: 52px;
    border-bottom: 1px solid #fec097;
}

.admin-panel-dropdown li:last-child{
    border: none;
}

.admin-panel-dropdown a{
    color: #a4a4a4;
    text-transform: capitalize;
    font-weight: 300;
    padding: 15px 0 0 67px;
    display: block;
    position: relative;
}

.admin-panel-dropdown a:hover{
    color: #f46722;
}

.admin-panel-dropdown a:before{
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    left: 18px;
    background: url(../images/icons-sprite.png) no-repeat 0 0;
}

.admin-panel-dropdown a.tutor-icon:before{
    background-position: 0px 1px;
}

.admin-panel-dropdown a.tutor-icon:hover:before{
    background-position: -33px 1px;
}

.admin-panel-dropdown a.student-icon:before{
    background-position: 3px -29px;
}

.admin-panel-dropdown a.student-icon:hover:before{
    background-position: -35px -29px;
}

.admin-panel-dropdown a.sessions-icon:before{
    background-position: 0px -59px;
}

.admin-panel-dropdown a.sessions-icon:hover:before{
    background-position: -33px -59px;
}

.admin-panel-dropdown a.book-icon:before{
    background-position: 1px bottom;
}

.admin-panel-dropdown a.book-icon:hover:before{
    background-position: -32px bottom;
}

.admin-panel-dropdown .fa-caret-up{
    font-size: 1.5em;
    position: absolute;
    right: 11px;
    top: -18px;
    color: #ff6800;
}

.logout a{
    color:#10698b;
    text-transform: uppercase;
    display: block;
    padding: 12px 18px;
    border:1px solid #dededf;
    border-radius: 5px;
    margin-left: 22px;
}

.logout a:hover{
    background: #10698b;
    color: #fff;
    border-color: #10698b;
}

/* Body Content */
.body-content{
    margin: 30px auto;
    position: relative;
    z-index: 0;
}

.tutor-tabs{
    border:1px solid #10698b;
}

.tutor-tabs li{
    border-right:1px solid #10698b;
}

.tutor-tabs li:last-child{
    border-right:none;
}

.tutor-tabs li a{
    color:#10698b;
    text-transform: capitalize;
    border-radius: 0;
}

.tutor-tabs li.active a{
    color:#fff;
}

.filter-holder{
    background: #fff;
    border: 1px solid #dededf;
    box-shadow: 0 3px 3px #dededf;
    margin-top: 30px;
    padding: 18px 16px;
    overflow: hidden;
}

.form-group{
    float: left;
    margin-right: 20px;
    position: relative;
}

.form-group .top-block,
.form-group .bottom-block{
    overflow: hidden;
    position: relative;
}

.form-group .top-block{
    margin-bottom: 20px;
}

.filter-holder label{
    float: left;
    font-weight: 300;
    margin: 5px 0 0;
    color: #a4a4a4;
}

.form-inline .form-control {
    float: right;
    font-weight: 300;
    height: 30px;
    margin-left: 28px;
    width: 200px;
    padding: 5px;
    color: #8f8f8f;
}

.form-group .has-icon span.fa-map-marker,
.form-group .calendar span.fa-calendar{
    font-size: 1.2em;
    position: absolute;
    right: 9px;
    top: 5px;
    color: #e0e0e0;
}

.form-group button[type="submit"]{
    width: 200px;
    background: #f46722;
    color: #fff;
    text-transform: uppercase;
    float: right;
    border: none;
    height: 30px;
}

.form-group button:hover{
    background: #fa844a;
    color: #fff;
}

.form-group .submit-btn span{
    color: #fff;
    position: absolute;
    right: 167px;
    top: 9px;
}

.tutor-table{
    margin-top: 30px;
    background: #fff;
    box-shadow: 0 3px 3px #dededf;
}

.table thead{
    background: #666;
    color: #fff;
}

.table thead th,
.table tr td{
    font-weight: 300;
    padding: 10px !important;
    font-size: 0.8em;
}

.table .subject_action{
    display: inline-block;
    float: right;
    background: url(../images/minus-icon.png) no-repeat 0 0;
    width: 13px;
    height: 13px;
    cursor: pointer;
}

.table .subject_action:hover{
    background: url(../images/minus-icon-active.png) no-repeat 0 0;
}

.sub-row{
    padding-bottom: 5px;
    border-bottom: 1px solid #f5f6f7;
}

.table select{
    background: #f8f8f8;
    border: none;
}

.fa-star{
    color: #ced7db;
}

.fa-star.fa-star-active{
    color: #ffc000;
}

.table .btn{
    background: #f46722;
    color: #fff;
    text-transform: uppercase;
    margin: 40px 10px 25px;
}

.table-condensed th{
    text-transform: uppercase;
}

.tutor-name a{
    color: #8e8e88;
    text-transform: capitalize;
}

/* Footer */
footer{
    background: #f1f1f1;
    color: #c5c5c7;
    font-size: 0.9em;
    padding: 24px 0 15px;
}

.pivacy,
.footer-menu{
    float: left;
}

.menu-social-media,
.social-media{
    float: right;
}

.footer-menu,
.pivacy p{
    margin: 3px 0 0;
}

.footer-menu li:after{
    content: "â€¢";
    display: inline-block;
    margin: 0 0 0 10px;
}

.footer-menu li:last-child:after{
    margin: 0;
    content: "";
}

.menu-social-media ul{
    margin: 0;
}

.menu-social-media a{
    color: #c5c5c7;
}

.social-media{
    font-size: 1.5em;
    margin: 0 0 0 25px;
}

/* Media Query */
/* Mobile */
@media screen and (max-width:767px) {
    header{
        height: auto;
        padding: 0 0 15px;
    }

    header .branding {
        float: none;
        text-align: center;
    }

    header .admin-panel {
        float: none;
        text-align: center;
    }

    .admin-panel-dropdown{
        left: 0;
        right: auto;+
    }

    .admin-panel-dropdown .fa-caret-up{
        right: auto;
        left: 84px;
    }

    .tutor-tabs li {
        border-bottom: 1px solid #10698b;
        border-right: 0 none;
    }

    .tutor-tabs li a{
        margin: 0;
    }

    .tutor-tabs li:last-child{
        border: 0;
    }

    .filter-holder{
        text-align: center;
    }

    .form-group {
        float: none;
        margin-right: 0;
        position: relative;
    }

    .form-group:last-child {
        margin-bottom: 52px;
    }

    .filter-holder label{
        margin-bottom: 8px;
    }

    .filter-holder label,
    .form-inline .form-control,
    .form-group button{
        float: none;
        text-align: center;
        margin-left: 0;
        width: 100%;
    }

    .form-group .filter-location span.fa-map-marker,
    .form-group .calendar span.fa-calendar {
        top: auto;
        bottom: 6px;
    }

    .sessions-filter .submit-holder .bottom-block{
        bottom: -136px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    footer{
        text-align: center;
    }

    .pivacy, .footer-menu {
        float: none;
        margin-bottom: 2px;
    }

    .social-media {
        float: none;
        font-size: 1.5em;
        margin: 0;
    }

}


.success_msg{
    display: none;
}
.messages{

    background-size: 40px 40px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
    transparent 75%, transparent);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 15px;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    animation: animate-bg 5s linear infinite;
    margin: 20px 0px 0px 0px;
}

.msg_type_info{
    background-color: #4ea5cd;
    border-color: #3b8eb5;
}

.msg_type_error{
    background-color: #de4343;
    border-color: #c43d3d;
}

.msg_type_warning{
    background-color: #eaaf51;
    border-color: #d99a36;
}

.msg_type_success{
    background-color: #61b832;
    border-color: #55a12c;
}

.messages h3{
    margin: 0 0 5px 0;
}

.messages p{
    margin: 0;
}

.table .glyphicon:hover{
    background: #666;
    cursor: pointer;
}
.fa-trash {
    cursor: pointer; cursor: hand;
}
