/* Admin panel Custom CSS */

/****
	Index
	1.Header
	2.Body Content
	3.Footer
	4.Media Query


	Fonts used: 
		font-family: 'Montserrat', sans-serif;
		font-family: 'Nunito', sans-serif;

****/

body{
	font-size: 14px;
	line-height: 1.53;
	position: relative;
	color: #666;
	font-family: 'Montserrat', sans-serif;
	background: #f8f8f8;
}

h1, h2, h3, h4, h5, h6 {
    color: #666;
    font-size: 28px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a{
	color:#f46722;
}

a:hover{
	color: #fa844a;
	text-decoration: none;
}

::selection {
	background: #f46722;
	color:#fff;
}
::-moz-selection {
	background: #f46722;
	color:#fff;
}

/* Header */
header{
	position: relative;
	height: 76px;
	background: #fff;
}

	header .branding{
		float: left;
		margin-top: 30px;
	}

	header .admin-panel{
		float: right;
		margin-top: 18px;
	}

		.admin-greetings p{
			font-size: 0.8em;
			text-transform: uppercase;
		}

			.admin-greetings .user-type{
				display: block;
				color: #10698b;
				font-size: 1.1em;
			}

		.logout a{
			color:#10698b;
			text-transform: uppercase;
			display: block;
			padding: 12px 18px;
			border:1px solid #dededf;
			border-radius: 5px;
			margin-left: 22px;
		}

		.logout a:hover{
			background: #10698b;
			color: #fff;
			border-color: #10698b;
		}

/* Body Content */
.body-content{
	margin: 30px auto;
}

	.tutor-tabs{
		border:1px solid #10698b;
	}

		.tutor-tabs li{
			border-right:1px solid #10698b;
		}

		.tutor-tabs li:last-child{
			border-right:none;
		}

			.tutor-tabs li a{
				color:#10698b;
				text-transform: capitalize;
				border-radius: 0;
			}

			.tutor-tabs li.active a{
				color:#fff;
			}

	.filter-holder{
		background: #fff;
		border: 1px solid #dededf;
		box-shadow: 0 3px 3px #dededf;
		margin-top: 30px;
		padding: 18px 16px;
	}

		.form-group{
			margin-right: 20px;
		}

			.form-group .top-block,
			.form-group .bottom-block{
				overflow: hidden;
				position: relative;
			}

			.form-group .top-block{
				margin-bottom: 20px;
			}

				.filter-holder label{
					float: left;
					font-weight: 300;
					margin: 5px 0 0;
				}

				.form-inline .form-control {
					float: right;
					font-weight: 300;
					height: 30px;
					margin-left: 28px;
					width: 200px;
					padding: 5px;
				}

				.form-group .bottom-block span.fa-map-marker{
					font-size: 1.2em;
					position: absolute;
					right: 9px;
					top: 5px;
					color: #e0e0e0;
				}

			.form-group button{
				width: 200px;
				background: #f46722;
				color: #fff;
				text-transform: uppercase;
				float: right;
				border: none;
				height: 30px;
			}

			.form-group button:hover{
				background: #fa844a;
				color: #fff;
			}

				.form-group button span{
					float: left;
					margin: 2px 0 0;
				}

	.tutor-table{
		margin-top: 30px;
		background: #fff;
		box-shadow: 0 3px 3px #dededf;
	}

		.table thead{
			background: #666;
			color: #fff;
		}

			.table thead th,
			.table tr td{
				font-weight: 300;
				padding: 10px !important;
			}

				.table .glyphicon{
					background: #ccc;
					border-radius: 8px;
					float: right;
					color: #fff;
				}

				.table select{
					background: #f8f8f8;
					border: none;
				}

				 .table .fa-star-active{
				 	color: gold;
				 }

				.table .btn{
					background: #f46722;
					color: #fff;
					text-transform: uppercase;
					margin: 40px 10px 25px;
				}

/* Footer */
footer{
	background: #f1f1f1;
	color: #c5c5c7;
	font-size: 0.9em;
	padding: 24px 0 15px;
}

	.pivacy,
	.footer-menu{
		float: left;
	}

	.menu-social-media,
	.social-media{
		float: right;
	}

		.footer-menu,
		.pivacy p{
			margin: 3px 0 0;
		}

		.footer-menu li:after{
			content: "•";
			display: inline-block;
			margin: 0 0 0 10px;
		}

		.footer-menu li:last-child:after{
			margin: 0;
			content: "";
		}

		.menu-social-media ul{
			margin: 0;
		}

			.menu-social-media a{
				color: #c5c5c7;
			}

			.social-media{
				font-size: 1.5em;
				margin: 0 0 0 25px;
			}

/* Media Query */
/* Mobile */
@media screen and (max-width:767px) {
	header{
		height: auto;
		padding: 0 0 15px;
	}

		header .branding {
			float: none;
			text-align: center;
		}

		header .admin-panel {
			float: none;
			text-align: center;
		}

			.tutor-tabs li {
				border-bottom: 1px solid #10698b;
				border-right: 0 none;
			}

				.tutor-tabs li a{
					margin: 0;
				}

			.tutor-tabs li:last-child{
				border: 0;
			}

	.filter-holder{
		text-align: center;
	}

		.form-group {
			margin-right: 0;
		}

			.filter-holder label{
				margin-bottom: 8px;
			}

			.filter-holder label,
			.form-inline .form-control,
			.form-group button{
				float: none;
				text-align: center;
			}

footer{
	text-align: center;
}
	
	.pivacy, .footer-menu {
		float: none;
		margin-bottom: 2px;
	}

		.social-media {
			float: none;
			font-size: 1.5em;
			margin: 0;
		}

}
/*custom css by verdict deal */


.success_msg{
	display: none;
}
.messages{

	background-size: 40px 40px;
	background-image: linear-gradient(135deg, rgba(255, 255, 255, .05) 25%, transparent 25%,
	transparent 50%, rgba(255, 255, 255, .05) 50%, rgba(255, 255, 255, .05) 75%,
	transparent 75%, transparent);
	box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
	width: 100%;
	border: 1px solid;
	color: #fff;
	padding: 15px;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	animation: animate-bg 5s linear infinite;
	margin: 20px 0px 0px 0px;
}

.msg_type_info{
	background-color: #4ea5cd;
	border-color: #3b8eb5;
}

.msg_type_error{
	background-color: #de4343;
	border-color: #c43d3d;
}

.msg_type_warning{
	background-color: #eaaf51;
	border-color: #d99a36;
}

.msg_type_success{
	background-color: #61b832;
	border-color: #55a12c;
}

.messages h3{
	margin: 0 0 5px 0;
}

.messages p{
	margin: 0;
}