/* Sessions result pages CSS */

/**** Index *****
	1.Body Content
		1.1.Session Info
		1.2.Profile Card
		1.3.Session Btns
	2.Media Querry
		2.1.Mobile

****/

/* Body Content */
.body-content .inner-wrapper{
	background: #fff;
	padding: 30px 50px 48px;
}

	.heading{
		border-bottom: 1px solid #e2e2e2;
		color: #12688a;
		margin: 0;
		padding: 0 0 24px;
		font-size: 1.4em;
	}

	.session-info,
	.info-raw{
		overflow: hidden;
	}

	.session-info{
		margin-top: 25px;
	}

		.info-raw{
			margin-bottom: 10px;
		}

			.session-info .info-panel p {
				float: left;
				margin: 0 0 10px;
				width: 245px;
				color: #aaa;
			}

			.session-info span {
				display: inline-block;
			}

	/* Profile Card */
	.prof-cards-holder{
		float: right;
	}

		.profile {
			border: 1px solid #dededf;
		}

		.tutor.profile{
			margin-bottom: 30px;
		}

			.profile .profile-title {
				background: #666666;
				color: #fff;
				font-size: 0.9em;
				margin: 0;
				padding: 14px 0;
				text-align: center;
				text-transform: uppercase;
			}

			.profile-bio {
				overflow: hidden;
				padding: 28px;
			}

				.profile-bio img {
					float: left;
				}

				.profile-bio-info {
					float: left;
					margin: 0 0 0 25px;
				}

					.profile-bio-info h3{
						margin: 0 0 12px;
						font-size: 1.2em;
					}

					.profile-bio-info p {
						margin: 0 0 5px;
					}

						.profile-bio-info p .fa {
							margin: 0 10px 0 0;
							color: #f46722;
						}

				.tot-earnings-holder {
					border-top: 1px solid #dededf;
					overflow: hidden;
					padding: 15px 30px;
				}

					.tot-earnings-holder p {
						float: left;
						text-transform: uppercase;
						margin: 0;
					}

					.tot-earnings-holder .tot-earnings {
						color: #327c9a;
						float: right;
						font-size: 1.1em;
					}

	/* Session Btns */
	.session-btns {
		margin: 48px 0 0;
		text-align: right;
	}

		.session-btns .btn,
		.info-raw .btn {
			border: medium none;
			color: #fff;
			display: inline-block;
			font-size: 0.9em;
			margin: 0 15px 0 0;
			text-transform: uppercase;
			padding: 10px 18px;
		}

		.session-btns .cancel-btn,
		.info-raw .btn {
			background: #dedde2;
		}

		.session-btns .reassign-btn {
			background: #10698b;
		}

		.session-btns .reschedule-btn {
			background: #f46722;
		}

		.info-raw .btn{
			display: inline-block;
			margin: 0 0 0 15px;
		}

/* Media Querry */
/* Mobile */
@media screen and (max-width: 767px) {
	.body-content .inner-wrapper {
		padding: 30px 10px 48px;
	}

		.heading {
			text-align: center;
		}

		.session-info {
			margin-top: 25px;
			text-align: center;
		}

			.info-panel {
				margin: 0 0 30px;
			}

		.prof-cards-holder{
			float: none;
		}

			.profile-bio {
				padding: 15px;
				text-align: center;
			}

				.profile-bio img {
					float: none;
				}

				.profile-bio-info {
					margin: 20px 0 0;
					padding: 0 20px;
					float: none;
				}

					.profile-bio-info p {
						text-align: left;
					}
}