/*******************************************************************************************
           Project             - tutorSync
           Company             - ***********
           Developer  		   - ***********
           EMail               - *********** 
           Date                - ***********
           Note                - Tutor Sync CSS
-------------------------------------------------------------------------------------------*/
/* MAIN STYLE
-------------------------------------------------------------------------------------------*/

body {
	-webkit-font-smoothing: antialiased;
	background: #f8f8f8;
}
.row_clr {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
body a:hover, body a:focus{
	text-decoration:none;
}


/*Index Page Styles*/
/* home page 29-08-20015 */

/*.red {
  border: solid 1px red;
  
}*/

.nav_right ul {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.nav_right ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}
.nav_right ul li h6 {
	font: 12px 'AntennaBold', sans-serif;
	color: #666666;
	margin: 0;
	text-transform: uppercase;
	padding-top: 4px;
}
.be_tutor_li a {
	font: 12px 'AntennaBold', sans-serif;
	color: #12688a;
	margin: 0;
	text-transform: uppercase;
}
.nav-login a {
	font: 12px 'AntennaBold', sans-serif;
	color: #ff6900;
	margin: 0;
	text-transform: uppercase;
	border: 1px solid #ff6900;
	border-radius: 3px;
	padding: 10px 20px;
}
.nav-login {
	position: relative;
	cursor: pointer;
}
.singin-full-wrapper {
	position: absolute;
	background: #fff;
	width: 251px;
	z-index: 100;
	right: 0px;
	top: 35px;
	border-top: 3px solid #ff6900;
	border-bottom: 3px solid #ff6900;
	border-radius: 3px;
}
.signon-button {
	width: 100%;
	border: none;
	background: #ff6900;
	border-radius: 3px;
	font: 12px 'AntennaBold', sans-serif;
	color: #fff;
	padding: 15px 0;
	text-transform: uppercase;
	margin-top: 15px;
}
.signin_inner_img {
	position: absolute;
	top: 10px;
	left: 10px;
}
.signin_inner_text {
	position: relative;
}
.nav-singin-inner-wrapper input[type="text"] {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 35px;
	border-radius: 3px;
	height: 38px;
	margin-bottom: 15px;
}
.nav-singin-inner-wrapper input[type="password"] {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
	margin-bottom: 15px;
	padding-left: 35px;
}

.nav-singin-inner-wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
 .nav-singin-inner-wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper {
	padding: 30px 15px 0;
}
.nav-singin-forgot-password {
	font: 400 10px 'Montserrat', sans-serif !important;
	color: #f46722;
	border: none !important;


	display: block;
	text-align: center;
}
.nav-singin-inner-wrapper label {
	font: 400 11px 'Montserrat', sans-serif !important;
	color: #666666;
	vertical-align: middle;
	margin-left: 10px;
}
.drop_downarrow {
	position: absolute;
	top: -7px;
	right: 38px;
}
/*index wrapper*/
.index-wrapper-1 {
	background-image: url(../images/index_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 693px;
}
.index-wrapper-1 h1 {
	font: 54px 'AntennaRegular', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 300px 0 50px;
}
.index-wrapper-1 h6 {
	font: 400 28px 'Montserrat', sans-serif;
	color: #fff;
	text-align: center;
	margin-bottom: 60px;
}
.index-wrapper-1 h5 {
	text-align: center;
}
.index-wrapper-1 h5 a {
	font: 15px 'AntennaBold', sans-serif;
	color: #fff;
	margin: 0;
	background: #ff6900;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 20px 50px;
}
.index_row_2_box img {
	display: block;
	margin: 0 auto 66px;
	;
}
.index_row_2_box h2 {
	font: 16px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}
.index_row_2_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	text-align: center;
	line-height: 28px;
}
.index_row_2 {
	padding: 75px 0;
}
.index_row_2 {
	background: #fff;
}
.index_row_3 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_3_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_3_heading img {
	display: block;
	margin: 0 auto;
}
.index_row_3_box img {
	display: block;
	margin: 0 auto 50px;
}
.index_row_3_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	text-align: center;
	line-height: 28px;
}
.index_row_3_heading {
	padding-bottom: 50px;
}
.index_row_4 {
	background: #fff;
}
.index_container_4 {
	background-image: url(../images/index_wrapper_05_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	min-height: 367px;
	padding: 73px 0;
}
.index_row_4_box h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.index_row_4_box h5 {
	font: 400 20px 'Montserrat', sans-serif;
	color: #000000;
	margin: 20px 0 20px;
}
.index_row_4_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
}
.index_row_5 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_5_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_5_heading img {
	display: block;
	margin: 0 auto 40px;
	;
}
.index_row_5_box h2 {
	font: 400 20px 'Montserrat', sans-serif;
	color: #000000;
	margin: 0 0 40px;
}
.index_row_5_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0 0 40px;
	line-height: 25px;
}
.index_row_5_box h6 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #b7b7b7;
}
.index_row_6 {
	background: #fff;
	padding: 50px 0;
}
.index_row_6_box img {
	display: block;
	margin: 0 auto;
}
.index_row_6_box p {
	font: 400 20px 'Montserrat', sans-serif;
	color: #666666;
	margin: 15px 0 0;
}
.index_row_6_frist_box {
	border-right: 1px solid #dddedf;
}
.index_row_6_mid_box {
	padding: 0 50px;
}
.index_row_7 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_7_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_7_heading img {
	display: block;
	margin: 0 auto 40px;
}
.index_row_7_box h5 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #000000;
 0 25px;
}
.index_row_7_box h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #000000;
	margin: 50px 0 25px;
}
.index_row_7_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
}
.index_row_7_box ul {
	padding-left: 15px;
}
.index_row_7_box ul li {
	list-style-image: url(../images/index_list_style.png);
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
	padding-top: 20px;
}
.index_row_7_box_right {
	padding-left: 60px
}
.index_row_7_box_left {
	padding-right: 60px
}
.index_row_8 {
	background-image: url(../images/index_wrapper_08_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 273px;
	padding: 60px 0;
}
.index_row_8 h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #fff;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_8 img {
	display: block;
	margin: 0 auto 0;
}
.index_row_8 h5 {
	text-align: center;
}
.index_row_8 h5 a {
	font: 15px 'AntennaBold', sans-serif;
	color: #fff;
	margin: 0;
	background: #ff6900;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 20px 50px;
	display: inline-block;
	margin-top: 35px;
}
.index_row_9 {
	background: #fff;
	padding-top: 45px;
}
.index_row_9_left img {
	display: block;
	margin: 0 auto;
}
.index_row_9_right h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #222222;
	margin: 30px 0 0;
	;
}
.index_row_9_right h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 20px 0;
}
.index_row_9_right p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 30px 0 30px;
}
.index_row_9_right img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer_1_row {
	background: #021422;
	padding: 60px 0;
}
.footer_menu_1 {
	margin-bottom: 82px;
}
.footer_menu_1 li {
	list-style: none;
	margin-bottom: 10px;
}
.footer_menu_1 li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	list-style: none;
}
.footer_social {
	margin-bottom: 60px;
}
.footer_social li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	margin-top: 5px;
}
.footer_social li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	list-style: none;
	line-height: 25px;
}
.footer_privacy ul {
}
.footer_privacy li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer_privacy li a {
	font: 400 12px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
	list-style: none;
	line-height: 25px;
}
.footer_innner_right h4 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 5px;
}
.footer_innner_right ul {
	padding-left: 0;
}
.footer_innner_right ul li {
	list-style: none;
	margin: 0 0 5px;
}
.footer_innner_right ul li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
}
.footer_innner_right ul li:last-child a {
	font: 400 10px 'Montserrat', sans-serif;
	color: #12688a;
	text-transform: uppercase;
}
.footer_innner_right_box p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
	text-align: right;
}
/*change password*/
.index_com_wrapper {
	width: 570px;
	margin: 40px auto 200px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	background: #fff;
	border-radius: 3px;
}
.index_com_wrapper_heading {
	border-bottom: 1px solid #eaebec;
	padding: 20px 40px;
}
.index_com_wrapper_heading h1 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
}
.index_com_inner_wrapper input[type="password"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.index_com_inner_wrapper input[type="text"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.index_com_inner_wrapper label {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0 0 15px;
}
.index_com_inner_wrapper {
	padding: 40px 40px;
}
.index_button_wrapper_inner {
	float: right;
}
.index_cancel {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-left: 30px;
}
.index_next {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 190px;
	float: right;
}
.index_button_wrapper {
	margin-top: 40px;
}
.index_com_inner_wrapper img {
	display: block;
	margin: 0 auto;
}
.index_com_inner_wrapper h5 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 40px 0 0;
	line-height: 25px;
	text-align: center;
}
.index_success {
	float: none;
	display: block;
	margin: 0 auto;
}

/*sign 1*/

.navigation_row {
	padding-top: 29px;
	padding-bottom: 29px;
	background: #fff;
}
.nav_right p {
	float: right;
	font-size: 12px;
	color: #12688a;
	text-transform: uppercase;
}
.nav_right p a {
	font-size: 12px;
	color: #f46722;
	text-decoration: none;
}
.inner_row {
	/*background: #f8f8f8;*/
}
.inner_wrapper {
	width: 800px;
	margin: 40px auto;
	background: #fff;
	padding: 50px 37px;
	border-radius: 3px;
	border: 1px solid #f1f1f1;
	border-bottom:1px solid #e6e6e6;
	border-top:none;
	-webkit-box-shadow: 0 1px 0 #f1f1f1;
	-moz-box-shadow: 0 1px 0 #f1f1f1;
	box-shadow: 0 1px 0 #f1f1f1;
}
.heading_wrapper h1 {
	font-size: 18px;
	color: #12688a;
	margin: 0;
}
.heading_step img {
	float: right;
}
.step_1_common_row {
	padding-top: 30px;
}
.step_1_common_wrapper p {
	font-size: 14px;
	color: #a4a4a4;
	margin: 0;
	padding-top: 10px;
}
.step_1_common_wrapper input[type="text"] {
	font-size: 14px;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.step_1_common_wrapper input[type="email"] {
	font-size: 14px;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.step_1_common_wrapper input[type="password"] {
	font-size: 14px;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
 .step_1_common_wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
 .step_1_common_wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
.step_1_common_wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/drop_icon.png) no-repeat right 10px center;
	text-indent: 0.01px;
	text-overflow: "";
	font-size: 14px;
	color: #bcbcbc;
	padding-left: 10px;
	width: 100%;
	height: 38px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}
body .dynamic-subject select.ng-pristine{
	color: #bcbcbc; 
}
body select.ng-valid{
	color: #666;
}
.step_1_padding_right_clr {
	padding-right: 0px;
}
/*file upload*/

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*end*/


.sign_1_upload {
	background: #fff;
	color: #f46722;
	font-size: 12px;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.sign_1_upload:hover {
	background: #fff;
	color: #f46722;
}
.step_common_wrapper_next {
	color: #fff;
	font-size: 14px;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
}
.step_common_wrapper_goback {
	color: #fff;
	font-size: 14px;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-right: 10px;
}
.footer_row {
	background: #f1f1f1;
	padding-top: 15px;
	padding-bottom: 15px;
}
.copy_right_text p {
	font-size: 11px;
	color: #b4b4b7;
	margin: 0;
	padding-top: 5px;
}
.footer_nav {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.footer_nav li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
}
.footer_nav li a {
	font-size: 11px;
	color: #b4b4b7;
	margin: 0;
	text-decoration: none;
}
.footer_nav li span {
	font-size: 30px;
	color: #b4b4b7;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	margin-top: -15px;
	padding: 0 15px;
}
.footer_nav_social {
	font-size: 15px;
	color: #b4b4b7;
	margin: 0 15px;
}
.footer_nav_social:first-child {
	margin-left: 15px;
}
.step_common_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.step_common_wrapper p {
	font-size: 14px;
	color: #a4a4a4;
	margin: 0;
	padding-top: 10px;
}
.step_common_wrapper input[type="text"] {
	font-size: 14px;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.step_common_wrapper input[type="password"] {
	font-size: 14px;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
 .step_common_wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
 .step_common_wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
.step_common_wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/drop_icon.png) no-repeat right 10px center;
	text-indent: 0.01px;
	text-overflow: "";
	font-size: 14px;
	color: #bcbcbc;
	padding-left: 10px;
	width: 100%;
	height: 38px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}
.add_more_step a {
	font-size: 11px;
	color: #f46722;
	margin: 0;
	text-transform: uppercase;
	text-align: right;
	display: block;
	margin-top: 15px;
	text-decoration: none;
}
.select_college_button {
	background: #f8f8f8;
	padding: 8px 10px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.select_college_button img {
	display: inline-block;
	vertical-align: middle;
}
.select_college_button h6 {
	font-size: 14px;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.graduation_right {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.graduation_left {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.certificate_step {
	background: #12688a;
}
.certificate_step h6 {
	color: #fff;
}
.certificate_full_step a {
	background: #dededf;
	color: #fff;
	padding: 8px 10px;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.certificate_full_label label {
	font: 400 10px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	padding-bottom: 15px;
}
.step_1_common_wrapper a {
	text-decoration: none;
}
.step_3_sub_wrapper h2 {
	font-size: 14px;
	color: #222222;
	margin: 0;
	padding-bottom: 20px;
	margin-top: 40px;
}
.select_subject_button {
	background: #f8f8f8;
	padding: 6px 10px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}
.select_subject_button h6 {
	font-size: 14px;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.select_subject_button i {
	color: #dededf;
}
.checked {
	background: #12688a;
}
.checked h6 {
	color: #fff;
}
.checked i {
	color: #7fd2f2;
}
.step_4wrapper img {
	display: block;
	margin: 60px auto 30px;
}
.step_4wrapper h1 {
	font-size: 18px;
	color: #12688a;
	text-align: center;
	margin: 0;
	margin-bottom: 3px;
}
.step_4wrapper h5 {
	font-size: 14px;
	color: #222222;
	text-align: center;
	margin: 0;
}
.step_4wrapper p {
	font-size: 12px;
	color: #666666;
	text-align: center;
	margin: 0;
	padding-top: 50px;
	line-height: 20px;
}
.step_4__wrapper a {
	margin: 0 auto;
	display: block;
}
.nav_step_4_right {
	float: right;
}
.nav_step_4_right a {
	text-decoration: none;
}
.become_tutor {
	font-size: 12px;
	color: #12688a;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding: 8px 15px;
	border: 1px solid #dededf;
	border-radius: 3px;
}
.sign_in {
	color: #fff;
	font-size: 12px;
	background: #f46722;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 15px;
	border-radius: 3px;
	text-decoration: none;
	margin-left: 15px;
	width: 114px;
}
.day_month_wrapper select {
	padding-left: 4px;
	background: url(../images/drop_icon.png) no-repeat 88% center;
}
.contact_nav {
	font-size: 12px;
	color: #12688a;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding: 8px 15px;
}
/**/

.student_step_left {
	border: 1px solid #eaeaea;
	background: #fff;
	padding: 40px 37px 40px;
	margin-bottom: 50px;
	min-height: 468px;
}
.student_step_right {
	/*float: right;*/
	padding-right: 30px;
}
.studen_sign {
	padding-top: 40px;
}
.student_step_common_wrapper p {
	font-size: 14px;
	color: #a4a4a4;
	margin: 0;
}
.student_step_common_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.student_step_common_row {
	margin-top: 10px;
}
.student_step_common_subject_row {
	margin-top: 20px;
}
.select_subject_button_2 h6 {
	font-size: 12px !important;
}
.select_subject_button_2 h6 i {
	display: none;
}
.checked_1 {
	background: #12688a;
}
.checked_1 h6 {
	color: #fff;
}
.checked_1 i {
	display: inline-block !important;
	color: #7fd2f2;
}
.student_login_button {
}
.student_login_button {
	color: #fff;
	font-size: 14px;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
	float: right;
}

.tutor_next_button {
	background: #f46722 none repeat scroll 0 0;
	border: medium none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: right;
	font-size: 14px;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	width: 114px;
}

a.tutor_next_button:hover,
a.tutor_next_button:focus,
a.tutor_goback_button:hover,
a.tutor_goback_button:focus{
	text-decoration: none;
}

.tutor_next_button_disabled {
	color: #fff;
	font-size: 14px;
	background: #dededf;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border:none;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
	float: right;
}
.student_login_button_wrapper {
	margin-top: 40px;
}

.tutor_login_button_wrapper {
	margin-top: 40px;
}
.student_step_right_inner h2 {
	font-size: 14px;
	color: #12688a;
	margin: 0;
	padding-top: 40px;
	padding-bottom: 25px;
}
.student_step_right_inner p {
	font-size: 12px;
	color: #666666;
	margin: 0;
	line-height: 18px;
}
.student_step_right_inner_top {
	border-bottom: 1px solid #ececec;
	padding-bottom: 40px;
}
.student_step_right_inner_bottom {
	padding-top: 40px;
}
.student_heading_wrapper h1 {
	font-size: 18px;
	color: #12688a;
	margin: 0;
	margin-bottom: 25px;
}
.student_pin {
	width: 50px !important;
	float: left;
	margin-right: 13px;
	padding-left: 19px !important;
}
.student_pin:last-child {
	margin-right: 0px;
}
.step_common_wrapper p {
	font-size: 11px;
	color: #b4b4b7;
	margin: 0;
	padding-top: 10px;
}
.student_phone {
	width: 70px !important;
	float: left;
	margin-right: 13px;
	padding-left: 19px !important;
}
.student_phone:last-child {
	margin-right: 0px;
}
.student_login_button_wrapper_inner {
	float: right;
}

.tutor_login_button_wrapper_inner {
	float: right;
}
.student_goback_button {
	color: #fff;
	font-size: 14px;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-left: 30px;
}

.tutor_goback_button {
	color: #fff;
	font-size: 14px;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-left: 30px;
}
.student_step_right_inner_bottom h6 {
	font-size: 12px;
	color: #12688a;
	margin: 0;
	padding-top: 15px;
}
.student_slider {
	min-height: 250px;
}
.student_step_3_gender {
	border: 1px solid #dededf;
	background: #f8f8f8;
	border-radius: 3px;
}
.st_step_3_hiden_icon {
	display: none;
}
.st_selected .st_step_3_hiden_icon {
	display: inline-block !important;
}
.st_selected .st_step_3_show_icon {
	display: none !important;
}
.student_step_common_wrapper h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	padding: 17px 0 12px;
	text-align: center;
	text-transform: uppercase;
}
.type_of_tutor_step_3 {
	padding-left: 22px;
}
.student_step_3_gender {
	cursor: pointer;
}
.st_selected {
	background: #fff;
}
.st_selected h6 {
	color: #12688a;
}
.student_step_3_gender h6 img {
	margin-right: 15px;
	margin-top: -5px
}
.student_step_3_type {
	border: 1px solid #dededf;
	background: #f8f8f8;
	border-radius: 3px;
}
.st_selected_type .st_step_3_hiden_icon {
	display: inline-block !important;
}
.st_selected_type .st_step_3_show_icon {
	display: none !important;
}
.st_selected_type {
	background: #fff;
}
.st_selected_type h6 {
	color: #12688a;
}
.type_of_tutor_step_3 h1 {
	font: 400 48px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: right;
	line-height: 40px;
}
.type_of_tutor_step_3 h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
}
.student_step_3_type h4 {
	font-size: 12px;
	color: #12688a;
	margin: 0;
	text-align: left;
	line-height: 20px;
	margin-left: -10px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
.student_step_3_type h5 {
	font-size: 12px;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
	text-align: center;
	padding-bottom: 15px;
}
.st_selected_type h1 {
	color: #f46722;
}
.student_step_3_type {
	padding-top: 15px;
	padding-bottom: 20px;
}
.student_step_3_package {
	padding: 15px;
}
.st_selected_package {
}
.student_step_3_package {
	border: 1px solid #dededf;
	background: #f8f8f8;
	border-radius: 3px;
}
.student_step_3_package h2 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
	padding-top: 7px;
}
.type_of_tutor_step_4 h1 {
	font: 400 28px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
}
.type_of_tutor_step_4 h3 {
	font: 400 10px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
	line-height: 12px;
}
.student_package_left {
	width: 55%;
}
.student_package_right {
	width: 45%;
}
.st_selected_package {
	background: #fff;
}
.st_selected_package h2 {
	color: #12688a;
}
.st_selected_package h1 {
	color: #f46722;
}
.student_step_right_inner_middle {
	padding-top: 40px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 40px;
}
.st_step_4_row_1 {
	padding-top: 10px !important;
}
.st_state select {
	background: url(../images/drop_icon.png) no-repeat 93% center;
}
.st_hours {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	margin-right: 10px !important;
	background: #f8f8f8;
}
.st_hours {
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
	text-align: center;
}
.st_step_4_hours h5 {
	display: inline-block;
	vertical-align: top;
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
	margin-top: 12px;
}
.student_hours_4 {
	background: #fff;
}
.select_time_button {
	background: #fff;
	padding: 6px 6px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	/*width: 89px;
	margin-right: 10px;*/
	margin-bottom: 10px;
	border: 1px solid #dededf;
}
.select_time_button h6 {
	font-size: 11px;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.select_time_button i {
	color: #dededf;
}
.checked_time {
	background: #12688a;
}
.checked_time h6 {
	color: #fff;
}
.checked_time i {
	color: #7fd2f2;
}
.deselect_time_button {
	background: #f8f8f8;
}
.student_pay_row {
	background: #fbfbfb;
	border-top: 1px solid #eaebec;
	border-bottom: 1px solid #eaebec;
}
.student_student_step_5 {
	padding-left: 0;
	padding-right: 0;
}
.student_student_step_5_row1 {
	padding: 0px 37px;
	   
}
.student_student_step_5_inner h5 {
	font-size: 14px;
	color: #222222;
	margin: 0;
	padding-top: 35px;
}
.student_student_step_5_inner p {
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
	padding-top: 35px;
	padding-bottom: 5px;
}
.student_student_step_5_inner h6 {
	font-size: 14px;
	color: #666666;
	margin: 0;
}
.student_student_step_5_inner_2 {
	border: 1px solid #dededf;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.type_of_tutor_step_5 h1 {
	color: #f46722;
}
.type_of_tutor_step_5 h3 {
	font-size: 12px;
}
.student_student_step_5_inner_2 h2 {
	font-size: 14px;
	color: #222222;
	margin: 0;
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 8px;
}
.student_student_step_5_inner_2 h2 span {
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
	margin-left: 15px;
}
.student_pay_5_inner input[type="text"] {
	border-radius: 0 !important;
	border-left: none;
}
.student_pay_5_inner_last {
	border-left: none !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.student_card_img img {
	margin-top: 8px;
}
.st_step_5 {
	padding-left: 20px;
}
.st_sign_5 input[type="text"] {
	background: url(../images/student_card_new-1.png) no-repeat 90% center;
}
.student_appoinment_button {
	width: 200px;
}
.student_appoinment_back_button {
	margin-left: 55px;
}
.student_student_step_5_row_last {
	/*padding-top: 30px;*/
}
.st_step_terms h2 {
	font-size: 12px;
	color: #222222;
	margin: 0;
	padding-bottom: 10px;
}
.st_step_terms ul {

	padding-left: 0;
	margin-bottom: 0;
}
.st_step_terms ul li {
	list-style: none;
	font-size: 11px;
	color: #b4b4b7;
	margin: 0;
	padding-bottom: 10px;
}
.st_step_terms ul li i {
	padding-right: 15px;
}
.st_sign_5 label {
	font-size: 11px;
	color: #b4b4b7;
	margin: 0;
}
.student_steap_6_full_wrapper {
	float: none;
	background: #fff;
	margin: 0 auto;
}
.st_steap_6_correct {
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}
.student_steap_6_full_wrapper {
	font-size: 11px;
	color: #b4b4b7;
	padding: 50px 0;
	margin-bottom: 50px;
}
.student_steap_6_full_wrapper h1 {
	font-size: 18px;
	color: #12688a;
	margin: 0;
	text-align: center;
}
.student_steap_6_full_wrapper h2 {
	font-size: 14px;
	color: #222222;
	margin: 0;
	text-align: center;
	padding-bottom: 50px;
}
.student_steap_6_inner_wrapper {
	float: none;
	background: #fff;
	margin: 0 auto;
	border: 1px solid #dededf;
	padding: 30px 0px;
	margin-bottom: 47px;
}
.student_steap_6_inner_left img {
	display: block;
	margin: 0 auto;
}
.student_steap_6_inner_right h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-bottom: 10px;
	padding-bottom: 10px;
}
.student_steap_6_inner_right h3 span {
	font: 400 10px 'Montserrat', sans-serif;
	color: #fff;
	margin: 0;
	padding: 1px 8px;
	border-radius: 9px;
	margin-top: -2px;
	background: #f46722;
	margin-left: 8px;
}
.student_steap_6_inner_right h4 {
	font-size: 12px;
	color: #666666;
	margin: 0;
	padding-bottom: 5px;
}
.student_steap_6_inner_right h4 img {
	margin-right: 10px;
}
.student_steap_6_full_wrapper p {
	font-size: 12px;
	color: #222222;
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
}
.student_steap_6_full_wrapper a {
	color: #fff;
	font-size: 14px;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.student_step_5_secure_wrapper img {
	display: inline-block;
	vertical-align: top;
}
.student_step_5_secure_wrapper p {
	display: inline-block;
	vertical-align: top;
}
.student_step_5_secure_wrapper h5 {
	font-size: 12px;
	color: #a4a4a4;
	margin: 0;
}
.student_step_5_secure_wrapper {
	background: #f8f8f8;
	position: absolute;
	padding: 20px 15px;
}
.student_step_5_secure_wrapper img {
	display: block;
	margin: 0 auto;
}
.student_student_step_5{ padding-bottom:20px !important; }

.student_student_step_5_row_last{ margin-top:36px !important; }

/* Custom Styles Start */

input[type="submit"] {
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.tutor_next_button_loading {
	color: #fff;
	font-size: 14px;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border:none;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 154px;
	float: right;
}

.err_elem { border: solid 1px red; }

select {
	color: #000000;
}

/* Custom Styles End */

/*Media*/

@media (min-width: 768px) and (max-width: 1024px) {
}
 @media (max-width: 767px) and (orientation: portrait) {
}
 @media (max-width: 767px) and (orientation: landscape) {
}

/* -----------------------------------------------------  */

@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);
body {
	-webkit-font-smoothing: antialiased;
	background: #f8f8f8;
}
.row_clr {
	margin-left: 0px !important;
	margin-right: 0px !important;
}
/*.container {
	width: 1170px !important;
	max-width: none !important;
}/
/*sign 1*/

.navigation_row {
	padding-top: 29px;
	padding-bottom: 29px;
	background: #fff;
}
.nav_right p {
	float: right;
	font: 400 12px 'Montserrat', sans-serif;
	color: #12688a;
	text-transform: uppercase;
}
.nav_right p a {
	font: 400 12px 'Montserrat', sans-serif;
	color: #f46722;
	text-decoration: none;
}
.inner_row {
	background: #f8f8f8;
}
.inner_wrapper {
	background: #fff none repeat scroll 0 0;
	border-left: 1px solid #f1f1f1;
	border-radius: 3px;
	border-right: 1px solid #f1f1f1;
	margin: 110px auto 40px;
	padding: 50px 37px;
	width: 800px;
}
.heading_wrapper h1 {
	font: 400 18px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
}
.heading_step img {
	float: right;
}
.step_1_common_row {
	padding-top: 30px;
}
.step_1_common_wrapper p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	padding-top: 10px;
}
.step_1_common_wrapper input[type="text"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.step_1_common_wrapper input[type="password"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
 .step_1_common_wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
 .step_1_common_wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_1_common_wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
.step_1_common_wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/drop_icon.png) no-repeat right 10px center;
	text-indent: 0.01px;
	text-overflow: "";
	font: 400 14px 'Montserrat', sans-serif;
	color: #bcbcbc;
	padding-left: 10px;
	width: 100%;
	height: 38px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}
.step_1_padding_right_clr {
	padding-right: 0px;
}
/*file upload*/

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
/*end*/


.sign_1_upload {
	background: #fff;
	color: #f46722;
	font: 400 12px 'Montserrat', sans-serif;
	border: none;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
.sign_1_upload:hover {
	background: #fff;
	color: #f46722;
}
.step_common_wrapper_next {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
}
.step_common_wrapper_goback {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-right: 10px;
}
.footer_row {
	background: #f1f1f1;
	padding-top: 15px;
	padding-bottom: 15px;
}
.copy_right_text p {
	font: 400 11px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	padding-top: 5px;
}
.footer_nav {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.footer_nav li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	margin-left: 0px !important;
}
.footer_nav li a {
	font: 400 11px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	text-decoration: none;
}
.footer_nav li span {
	font: 400 30px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	margin-top: -15px;
	padding: 0 15px;
}
.footer_nav_social {
	font-size: 15px;
	color: #b4b4b7;
	margin: 0 15px;
}
.footer_nav_social:first-child {
	margin-left: 15px;
}
.step_common_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.step_common_wrapper p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	padding-top: 10px;
}
.step_common_wrapper input[type="text"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.step_common_wrapper input.graduation_right{
	background: #f0f0f0;
}
.step_common_wrapper input[type="number"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px !important;
	border-radius: 3px;
	height: 38px;
}

.card-validation.step_common_wrapper input[type="text"]{
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px !important;
	border-radius: 3px;
	height: 38px;
}

.step_common_wrapper input[type="email"] {
    font: 400 14px 'Montserrat', sans-serif;
    color: #666666;
    border: 1px solid #dcdcdc;
    width: 100%;
    display: block;
    padding-left: 10px;
    border-radius: 3px;
    height: 38px;
}

.step_common_wrapper input[type="password"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
 .step_common_wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_common_wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
 .step_common_wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
 color: #bcbcbc;
}
.step_common_wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
 color: #bcbcbc;
}
.step_common_wrapper select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: url(../images/drop_icon.png) no-repeat right 10px center;
	text-indent: 0.01px;
	text-overflow: "";
	font: 400 14px 'Montserrat', sans-serif;
	color: #bcbcbc;
	padding-left: 10px;
	width: 100%;
	height: 38px;
	border: 1px solid #dcdcdc;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
}
.add_more_step a {
	font: 400 11px 'Montserrat', sans-serif;
	color: #f46722;
	margin: 0;
	text-transform: uppercase;
	text-align: right;
	display: block;
	margin-top: 15px;
	text-decoration: none;
}
.select_college_button {
	background: #f8f8f8;
	padding: 8px 10px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.select_college_button img {
	display: inline-block;
	vertical-align: middle;
}
.select_college_button h6 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.graduation_right {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.graduation_left {
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.certificate_step {
	background: #12688a;
}
.certificate_step h6 {
	color: #fff;
}
.certificate_full_step a {
	background: #dededf;
	color: #fff;
	padding: 8px 10px;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
}
.certificate_full_label label {
	font: 400 10px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	padding-bottom: 15px;
}
.step_1_common_wrapper a {
	text-decoration: none;
}
.step_3_sub_wrapper h2 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-bottom: 20px;
	margin-top: 40px;
}
.select_subject_button {
	background: #f8f8f8;
	padding: 6px 10px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
}
.select_subject_button h6 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.select_subject_button i {
	color: #dededf;
}
.student_step_common_wrapper.hidden-field,
.step_common_wrapper.hidden-field{
	display: none;
}
.checked {
	background: #12688a;
}
.checked h6 {
	color: #fff;
}
.checked i {
	color: #7fd2f2;
}
.step_4wrapper img {
	display: block;
	margin: 60px auto 30px;
}
.step_4wrapper h1 {
	font: 400 18px 'Montserrat', sans-serif;
	color: #12688a;
	text-align: center;
	margin: 0;
	margin-bottom: 3px;
}
.step_4wrapper h5 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	text-align: center;
	margin: 0;
}
.step_4wrapper p {
	font: 400 12px 'Montserrat', sans-serif;
    color: #666666;
    text-align: left;
    padding-top: 50px;
    line-height: 20px;
    margin: 0 0 0 26px;
}
.step_4wrapper li{
	margin-bottom: 10px;
}
.step_4__wrapper a {
	margin: 0 auto;
	display: block;
}
.nav_step_4_right {
	float: right;
}
.nav_step_4_right a {
	text-decoration: none;
}
.become_tutor {
	font: 400 12px 'Montserrat', sans-serif;
	color: #12688a;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding: 8px 15px;
	border: 1px solid #dededf;
	border-radius: 3px;
}
.sign_in {
	color: #fff;
	font: 400 12px 'Montserrat', sans-serif;
	background: #f46722;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 15px;
	border-radius: 3px;
	text-decoration: none;
	margin-left: 15px;
	width: 114px;
}
.day_month_wrapper select {
	padding-left: 4px;
	background: url(../images/drop_icon.png) no-repeat 88% center;
}
.contact_nav {
	font: 400 12px 'Montserrat', sans-serif;
	color: #12688a;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
	padding: 8px 15px;
}
/* Student sign up*/

/*.student_step_left {
	width: 800px;
	border: 1px solid #eaeaea;
	background: #fff;
	padding: 40px 37px 40px;
	margin-bottom: 50px;
}*/
.student_step_right {
	/*width: 317px;
	float: right;
	padding-right: 30px;*/
}
.studen_sign {
	margin-top: 68px;
	padding-top: 40px;
}
.student_step_common_wrapper p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
}
.student_step_common_wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}
.student_step_common_row .step_common_wrapper{
	margin-bottom: 0;
}
.student_step_common_row {
	margin-top: 10px;
}
.student_step_common_subject_row {
	margin-top: 20px;
}
.select_subject_button_2 h6 {
	font-size: 12px !important;
}
.select_subject_button_2 h6 i {
	display: none;
}
.checked_1 {
	background: #12688a;
}
.checked_1 h6 {
	color: #fff;
}
.checked_1 i {
	display: inline-block !important;
	color: #7fd2f2;
}
.student_login_button {
}
.student_login_button {
	    color: #fff;
    font-size: 14px;
    background: #f46722;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: top;
    width: 114px;
    float: right;
}
.student_login_button_wrapper {
	margin-top: 40px;
}
.student_step_right_inner h2 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
	padding-top: 20px;
	padding-bottom: 20px;
}
.student_step_right_inner p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 18px;
}
.student_step_right_inner_top {
	border-bottom: 1px solid #ececec;
	padding-bottom: 40px;
}
.student_step_right_inner_bottom {
	padding-top: 40px;
}
.student_heading_wrapper h1 {
	font: 400 18px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
	margin-bottom: 25px;
}
.student_pin {
	width: 50px !important;
	float: left;
	margin-right: 13px;
	padding-left: 19px !important;
}
.student_pin:last-child {
	margin-right: 0px;
}
.step_common_wrapper p {
	color: #b4b4b7;
	font: 100 1em "Montserrat",sans-serif;
	margin: 0;
	padding-top: 10px;
}
.student_phone {
	width: 70px !important;
	float: left;
	margin-right: 13px;
	padding-left: 19px !important;
}
.student_phone:last-child {
	margin-right: 0px;
}
.student_login_button_wrapper_inner {
	float: right;
}
.student_goback_button {
    color: #fff;
    font-size: 14px;
    background: #dededf;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    padding: 8px 10px;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: top;
    width: 114px;
    float: right;
}
.student_step_right_inner_bottom h6 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
	padding-top: 15px;
}
.student_slider {
	min-height: 250px;
}
.student_step_3_gender {
	border: 1px solid #dededf;
	background: #f8f8f8;
	border-radius: 3px;
}
.st_step_3_hiden_icon {
	display: none;
}
.st_selected .st_step_3_hiden_icon {
	display: inline-block !important;
}
.st_selected .st_step_3_show_icon {
	display: none !important;
}
.student_step_common_wrapper h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	padding: 17px 0 12px;
	text-align: center;
	text-transform: uppercase;
}
.type_of_tutor_step_3 {
	padding-left: 22px;
}
.student_step_3_gender {
	cursor: pointer;
}
.st_selected {
	background: #fff;
}
.st_selected h6 {
	color: #12688a;
}
.student_step_3_gender h6 img {
	margin-right: 15px;
	margin-top: -5px
}
.student_step_3_type {
	border: 1px solid #dededf;
	background: #f8f8f8;
	border-radius: 3px;
}
.st_selected_type .st_step_3_hiden_icon {
	display: inline-block !important;
}
.st_selected_type .st_step_3_show_icon {
	display: none !important;
}
.st_selected_type {
	background: #fff;
}
.st_selected_type h6 {
	color: #12688a;
}
.type_of_tutor_step_3 h1 {
	font: 400 48px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: right;
	line-height: 40px;
}
.type_of_tutor_step_3 h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
}
.student_step_3_type h4 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
	text-align: left;
	line-height: 20px;
	margin-left: -10px;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 15px;
}
.student_step_3_type h5 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
	text-align: center;
	padding-bottom: 15px;
}
.st_selected_type h1 {
	color: #f46722;
}
.student_step_3_type {
	padding-top: 15px;
	cursor: pointer;
	padding-bottom: 20px;
}
.student_step_3_package {
	padding: 15px;
}
.student_step_common_wrapper.student_step_3_type{
	border: 0 none;
	padding: 0 15px;
}
.student_step_common_wrapper.student_step_3_type .student_step_3_type{
	background: #fff;
}
.st_selected_package {
}
.student_step_3_package {
	border: 1px solid #dededf;
	background: #f8f8f8;
	cursor: pointer;
	border-radius: 3px;
}
.student_step_3_package h2 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	text-align: left;
	line-height: 20px;
	padding-top: 7px;
}
.type_of_tutor_step_4 h1 {
	font: 400 28px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
}
.type_of_tutor_step_4 h3 {
	font: 400 10px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	text-align: left;
	margin-top: 5px;
	margin-left: 5px;
	line-height: 12px;
}
.student_package_left {
	width: 55%;
}
.student_package_right {
	width: 45%;
}
.st_selected_package {
	background: #fff;
}
.st_selected_package h2 {
	color: #12688a;
}
.st_selected_package h1 {
	color: #f46722;
}
.student_step_right_inner_middle {
	padding-top: 40px;
	border-bottom: 1px solid #ececec;
	padding-bottom: 40px;
}
.st_step_4_row_1 {
	padding-top: 10px !important;
}
.st_state select {
	background: url(../images/drop_icon.png) no-repeat 93% center;
}
.st_hours {
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: top;
	border: 1px solid #f46722;
	border-radius: 3px;
	margin-right: 10px !important;
	background: #f8f8f8;
	cursor:pointer;
}

.st_hours:hover {
	background-color:#f46722;
	color:#fff;
}
.st_hours {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	text-align: center;
}
.st_step_4_hours h5 {
	display: inline-block;
	vertical-align: top;
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	margin-top: 12px;
}
.student_hours_4 {
	background: #f46722;
	color:#fff;
}
.select_time_button {
	background: #fff;
	padding: 6px 6px;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	min-width: 100%;
	/*margin-right: 10px;*/
	margin-bottom: 10px;
	border: 1px solid #dededf;
}
.select_time_button h6 {
	font: 400 11px 'Montserrat', sans-serif;
	color: #8e9ba9;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}
.select_time_button i {
	color: #dededf;
}
.checked_time {
	background: #12688a;
}
.checked_time h6 {
	color: #fff;
}
.checked_time i {
	color: #7fd2f2;
}
.deselect_time_button {
	background: #f8f8f8;
	border-color:#f8f8f8;
	cursor:default;
}
.deselect_time_button h6 {
	color:#dededf;
}
.student_pay_row {
	background: #fbfbfb;
	border-top: 1px solid #eaebec;
	border-bottom: 1px solid #eaebec;
}
.student_student_step_5 {
	padding-left: 0;
	padding-right: 0;
}
.student_student_step_5_row1 {
	padding: 0px 37px;
}
.student_student_step_5_inner h5 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-top: 35px;
}
.student_student_step_5_inner p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	padding-top: 35px;
	padding-bottom: 5px;
}
.student_student_step_5_inner h6 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
}
.student_student_step_5_inner_2 {
	border: 1px solid #dededf;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.type_of_tutor_step_5 h1 {
	color: #f46722;
}
.type_of_tutor_step_5 h3 {
	font-size: 12px;
}
.student_student_step_5_inner_2 h2 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-top: 9px;
	padding-left: 9px;
	padding-bottom: 8px;
}
.student_student_step_5_inner_2 h2 span {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
	margin-left: 15px;
}
.student_pay_5_inner input[type="text"] {
	border-radius: 0 !important;
	border-left: none;
}
.student_pay_5_inner_last {
	border-left: none !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.student_card_img img {
	margin-top: 8px;
}
.st_step_5 {
	padding-left: 20px;
}
.st_sign_5 input[type="text"] {
	background: url(../images/student_card_new-1.png) no-repeat 90% center;
}
.student_appoinment_button {
	width: 200px;
}
.student_appoinment_back_button {
	margin-left: 55px;
}
.student_student_step_5_row_last {
/*padding-top: 30px;*/
}
.st_step_terms h2 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-bottom: 10px;
}
.st_step_terms ul {
	padding-left: 0;
	margin-bottom: 0;
}
.st_step_terms ul li {
	list-style: none;
	font: 400 11px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
	padding-bottom: 10px;
}
.st_step_terms ul li i {
	padding-right: 15px;
}
.st_sign_5 label {
	font: 400 11px 'Montserrat', sans-serif;
	color: #b4b4b7;
	margin: 0;
}
.student_steap_6_full_wrapper {
	float: none;
	background: #fff;
	margin: 0 auto;
}
.st_steap_6_correct {
	display: block;
	margin: 0 auto;
	padding-bottom: 30px;
}
.student_steap_6_full_wrapper {
	font: 400 11px 'Montserrat', sans-serif;
	color: #b4b4b7;
	padding: 50px 0;
	margin-bottom: 50px;
}
.student_steap_6_full_wrapper h1 {
	font: 400 18px 'Montserrat', sans-serif;
	color: #12688a;
	margin: 0;
	text-align: center;
}
.student_steap_6_full_wrapper h2 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	text-align: center;
	padding-bottom: 50px;
}
.student_steap_6_inner_wrapper {
	float: none;
	background: #fff;
	margin: 0 auto;
	border: 1px solid #dededf;
	padding: 30px 0px;
	margin-bottom: 47px;
}
.student_steap_6_inner_left img {
	display: block;
	margin: 0 auto;
}
.student_steap_6_inner_right h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	padding-bottom: 10px;
	padding-bottom: 10px;
}
.student_steap_6_inner_right h3 span {
	font: 400 10px 'Montserrat', sans-serif;
	color: #fff;
	margin: 0;
	padding: 1px 8px;
	border-radius: 9px;
	margin-top: -2px;
	background: #f46722;
	margin-left: 8px;
}
.student_steap_6_inner_right h4 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	padding-bottom: 5px;
}
.student_steap_6_inner_right h4 img {
	margin-right: 10px;
}
.student_steap_6_full_wrapper p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #222222;
	margin: 0;
	text-align: center;
	padding-bottom: 15px;
}
.student_steap_6_full_wrapper a {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 114px;
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}
.student_step_5_secure_wrapper img {
	display: inline-block;
	vertical-align: top;
}
.student_step_5_secure_wrapper p {
	display: inline-block;
	vertical-align: top;
}
.student_step_5_secure_wrapper h5 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0;
}
.student_step_5_secure_wrapper {
	background: #f8f8f8;
	position: absolute;
	padding: 20px 15px;
}
.student_step_5_secure_wrapper img {
	display: block;
	margin: 0 auto;
}
.student_student_step_5 {
	padding-bottom: 20px !important;
}
.student_student_step_5_row_last {
	margin-top: 36px !important;
}
/* home page 29-08-20015 */



.nav_right ul {
	padding-left: 0;
	margin-bottom: 0;
	float: right;
}
.nav_right ul li {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
}
.nav_right ul li h6 {
	font: 12px 'AntennaBold', sans-serif;
	color: #666666;
	margin: 0;
	text-transform: uppercase;
	padding-top: 4px;
}
.be_tutor_li a {
	font: 12px 'AntennaBold', sans-serif;
	color: #12688a;
	margin: 0;
	text-transform: uppercase;
}
.nav-login a {
	font: 12px 'AntennaBold', sans-serif;
	color: #ff6900;
	margin: 0;
	text-transform: uppercase;
	border: 1px solid #ff6900;
	border-radius: 3px;
	padding: 10px 20px;
}
.nav-login {
	position: relative;
	cursor: pointer;
}
.singin-full-wrapper {
	position: absolute;
	background: #fff;
	width: 251px;
	z-index: 100;
	right: 0px;
	top: 35px;
	border-top: 3px solid #ff6900;
	border-bottom: 3px solid #ff6900;
	border-radius: 3px;
}
.signon-button {
	width: 100%;
	border: none;
	background: #ff6900;
	border-radius: 3px;
	font: 12px 'AntennaBold', sans-serif;
	color: #fff;
	padding: 15px 0;
	text-transform: uppercase;
	margin-top: 15px;
}
.signin_inner_img {
	position: absolute;
	top: 10px;
	left: 10px;
}
.signin_inner_text {
	position: relative;
}
.nav-singin-inner-wrapper input[type="text"] {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 35px;
	border-radius: 3px;
	height: 38px;
	margin-bottom: 15px;
}
.nav-singin-inner-wrapper input[type="password"] {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
	margin-bottom: 15px;
	padding-left: 35px;
}
.nav-singin-inner-wrapper input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
 .nav-singin-inner-wrapper input[type="password"]::-webkit-input-placeholder { /* WebKit browsers */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]::-moz-placeholder { /* Mozilla Firefox 19+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper input[type="password"]:-ms-input-placeholder { /* Internet Explorer 10+ */
font: 400 12px 'Montserrat', sans-serif;
 color: #666666;
}
.nav-singin-inner-wrapper {
	padding: 30px 15px 0;
}
.nav-singin-forgot-password {
	font: 400 10px 'Montserrat', sans-serif !important;
	color: #f46722;
	border: none !important;
	display: block;
	text-align: center;
}
.nav-singin-inner-wrapper label {
	font: 400 11px 'Montserrat', sans-serif !important;
	color: #666666;
	vertical-align: middle;
	margin-left: 10px;
}
.drop_downarrow {
	position: absolute;
	top: -7px;
	right: 38px;
}
/*index wrapper*/
body{
	padding: 2px 0 0;
}
header.ng-isolate-scope{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}
.index-wrapper-1 {
	background-image: url("../images/index_banner.png");
	background-repeat: no-repeat;
	background-size: cover;
	/*margin: 80px 0 0;*/
	margin: 0;
	min-height: 693px;
}
.index-wrapper-1 h1 {
	font: 54px 'AntennaRegular', sans-serif;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin: 300px 0 50px;
}
.index-wrapper-1 h6 {
	color: #fff;
	font: 400 28px "Montserrat",sans-serif;
	margin-bottom: 10px;
	text-align: center;
}
.index-wrapper-1 h4 {
	color: #fff;
	font: 400 18px "Montserrat",sans-serif;
	margin: 0 0 30px;
	text-align: center;
}
.index-wrapper-1 h5 {
	text-align: center;
}
.index-wrapper-1 h5 a {
	font: 15px 'AntennaBold', sans-serif;
	color: #fff;
	margin: 0;
	background: #ff6900;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 20px 50px;
}
.index_row_2_box img {
	display: block;
	margin: 0 auto 66px;
	;
}
.index_row_2_box h2 {
	font: 16px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	text-transform: uppercase;
}
.index_row_2_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	text-align: center;
	line-height: 28px;
}
.index_row_2 {
	padding: 75px 0;
}
.index_row_2 {
	background: #fff;
}
.index_row_3 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_3_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_3_heading img {
	display: block;
	margin: 0 auto;
}
.index_row_3_box img {
	display: block;
	margin: 0 auto 50px;
}
.index_row_3_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #222222;
	text-align: center;
	line-height: 28px;
}
.index_row_3_heading {
	padding-bottom: 50px;
}
.index_row_4 {
	background: #fff;
}
.index_row_4 .container .row{
	margin: 0;
}
.index_container_4 {
	background-image: url(../images/index_wrapper_05_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: left;
	min-height: 367px;
	padding: 73px 0;
}
.index_row_4_box h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	margin: 0 0 5px;
	text-transform: uppercase;
}
.index_row_4_box h5 {
	font: 400 20px 'Montserrat', sans-serif;
	color: #000000;
	margin: 20px 0 20px;
}
.index_row_4_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
}
.index_row_5 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_5_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_5_heading img {
	display: block;
	margin: 0 auto 40px;
	;
}
.index_row_5_box h2 {
	font: 400 20px 'Montserrat', sans-serif;
	color: #000000;
	margin: 0 0 40px;
}
.index_row_5_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0 0 40px;
	line-height: 25px;
}
.index_row_5_box h6 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #b7b7b7;
}
.index_row_6 {
	background: #fff;
	padding: 50px 0;
}
.index_row_6_box img {
	display: block;
	margin: 0 auto;
}
.index_row_6_box p {
	font: 400 20px 'Montserrat', sans-serif;
	color: #666666;
	margin: 15px 0 0;
}
.index_row_6_frist_box {
	border-right: 1px solid #dddedf;
}
.index_row_6_mid_box {
	padding: 0 50px;
}
.index_row_7 {
	background: #f3f4f5;
	padding: 50px 0;
}
.index_row_7_heading h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #000000;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_7_heading img {
	display: block;
	margin: 0 auto 40px;
}
.index_row_7_box h5 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #000000;
 0 25px;
}
.index_row_7_box h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #000000;
	margin: 50px 0 25px;
}
.index_row_7_box p {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
}
.index_row_7_box ul {
	padding-left: 15px;
}
.index_row_7_box ul li {
	list-style-image: url(../images/index_list_style.png);
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
	line-height: 25px;
	padding-top: 20px;
}
.index_row_7_box_right {
	padding-left: 60px
}
.index_row_7_box_left {
	padding-right: 60px
}
.index_row_8 {
	background-image: url(../images/index_wrapper_08_back.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 273px;
	padding: 60px 0;
}
.index_row_8 h2 {
	font: 24px 'AntennaRegular', sans-serif;
	color: #fff;
	text-align: center;
	margin: 0;
	padding-bottom: 20px;
	text-transform: uppercase;
}
.index_row_8 img {
	display: block;
	margin: 0 auto 0;
}
.index_row_8 h5 {
	text-align: center;
}
.index_row_8 h5 a {
	font: 15px 'AntennaBold', sans-serif;
	color: #fff;
	margin: 0;
	background: #ff6900;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 20px 50px;
	display: inline-block;
	margin-top: 35px;
}
.index_row_9 {
	background: #fff;
	padding-top: 45px;
}
.index_row_9_left img {
	display: block;
	margin: 0 auto;
}
.index_row_9_right h3 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #222222;
	margin: 30px 0 0;
	;
}
.index_row_9_right h6 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 20px 0;
}
.index_row_9_right p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 30px 0 30px;
}
.index_row_9_right img {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer_1_row {
	background: #021422;
	padding: 20px 0;
}
.footer_innner_left{
	margin: 0 0 15px;
	overflow: hidden;
}
.footer_menu_1 {
	margin-bottom: 0;
	float: left;
}
.footer_menu_1 li {
	list-style: none;
	margin: 0 15px 10px 0;
	float: left;
}
.footer_menu_1 li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	list-style: none;
}
.footer_social {
	margin-bottom: 0;
	float: right;
}
.footer_social li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 25px;
	margin-top: 5px;
}
.footer_social li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	list-style: none;
	line-height: 25px;
}
.footer_privacy ul {
}
.footer_privacy li {
	list-style: none;
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
}
.footer_privacy li a {
	font: 400 12px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
	list-style: none;
	line-height: 25px;
}
.footer_innner_right h4 {
	font: 400 14px 'Montserrat', sans-serif;
	color: #7c8d9b;
	margin: 0;
	text-transform: uppercase;
	margin: 0 0 5px;
}
.footer_innner_right ul {
	padding-left: 0;
}
.footer_innner_right ul li {
	list-style: none;
	margin: 0 0 5px;
}
.footer_innner_right ul li a {
	font: 400 14px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
}
.footer_innner_right ul li:last-child a {
	font: 400 10px 'Montserrat', sans-serif;
	color: #12688a;
	text-transform: uppercase;
}
.footer_innner_right_box p {
	font: 400 12px 'Montserrat', sans-serif;
	color: #3d4c57;
	margin: 0;
	text-align: right;
}
/*change password*/
.index_com_wrapper {
	width: 570px;
	margin: 40px auto 200px;
	border-left: 1px solid #f1f1f1;
	border-right: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	background: #fff;
	border-radius: 3px;
}
.index_com_wrapper_heading {
	border-bottom: 1px solid #eaebec;
	padding: 20px 40px;
}
.index_com_wrapper_heading h1 {
	font: 400 16px 'Montserrat', sans-serif;
	color: #666666;
	margin: 0;
}
.index_com_inner_wrapper input[type="password"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.index_com_inner_wrapper input[type="text"] {
	font: 400 14px 'Montserrat', sans-serif;
	color: #666666;
	border: 1px solid #dcdcdc;
	width: 100%;
	display: block;
	padding-left: 10px;
	border-radius: 3px;
	height: 38px;
}
.index_com_inner_wrapper label {
	font: 400 12px 'Montserrat', sans-serif;
	color: #a4a4a4;
	margin: 0 0 15px;
}
.index_com_inner_wrapper {
	padding: 40px 40px;
}
.index_button_wrapper_inner {
	float: right;
}
.index_cancel {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #dededf;
	display: block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 10px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
	width: 114px;
	margin-left: 30px;
}
.index_next {
	color: #fff;
	font: 400 14px 'Montserrat', sans-serif;
	background: #f46722;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 8px 0px;
	border-radius: 3px;
	text-decoration: none;
	vertical-align: top;
	width: 190px;
	float: right;
}
.index_button_wrapper {
	margin-top: 40px;
}
.index_com_inner_wrapper img {
	display: block;
	margin: 0 auto;
}
.index_com_inner_wrapper h5 {
	font: 400 12px 'Montserrat', sans-serif;
	color: #666666;
	margin: 40px 0 0;
	line-height: 25px;
	text-align: center;
}
.index_success {
	float: none;
	display: block;
	margin: 0 auto;
}

/* added temporarily */
.validation_error {
    border:#F92024 solid 1px !important;
}


/* Font type
	font: 15px 'AntennaBold', sans-serif;
	color: #fff;
	margin:0;
	
	font: 400 28px 'Montserrat', sans-serif ;
	color: #fff;
	margin:0;

AntennaBlack
AntennaLight
AntennaRegular
AntennaExtraLight
AntennaThin
AntennaBold
AntennaMedium
*/






/*Media*/

@media (min-width: 768px) and (max-width: 1024px) {
	/*header login*/
	.nav-login{
		float: right;
	}

	.footer_innner_right_box p {
	    margin: 8px 0 0;
	}

}
 @media (max-width: 767px) and (orientation: portrait) {
}
 @media (max-width: 767px) and (orientation: landscape) {
}
@media (max-width: 767px) {
	.navigation_row .col-sm-6{ 
		text-align: center;
	}

		.navigation_row .header-links{
			margin: 30px 0 0;
			overflow: hidden;
			text-align: center;
		}

			.header-links .nav_right ul {
				float: none;
			}

				.header-links .nav_right li {
					margin: 0;
					width: 29%;
					line-height: 1;
				}

					.nav-login a{
						display: block;
						padding: 10px 18px;
					}

			.nav_right ul li h6{
				padding-top: 0; 
			}

	.index-wrapper-1 h1 {
		font: 2.8em "AntennaRegular",sans-serif;
	}

	.index_row_6,
	.index_row_7{
		display: none;
	} 

	.inner_wrapper{
		width: auto;
	}

	.tutor_goback_button,
	.tutor_next_button{
		margin: 0;
		width: auto;
	}

	.tutor_goback_button{
		margin-right: 10px;
	}

	footer .footer_innner_right,
	footer .footer_innner_left .footer_menu_1{
		display: none;
	}
	
		.footer_1_row .row {
			text-align: center;
		}

			.footer_social {
				float: none;
			}

			.footer_innner_right_box p {
				text-align: center;
			}

			.footer_privacy{
				padding: 0;
			}

}
/* Remove page not resposive properly ------------- */
/*.container {
    width: auto !important;
}*/
/* ------------------------------------------------ */

/* Custom CSS ----------------- */
.mr-bot-10 { margin-bottom:10px; }
/* Student SignUp ----------------- */
.studen_sign { }

.studen_sign .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.studen_sign .btn-default {
	color: #FFFFFF;
    background-color: #dededf;
    border-color: transparent !important;
	margin-bottom:10px;
}

.studen_sign .btn-primary {
    color: #FFFFFF;
    background-color: #f46722;
    border-color: transparent transparent;
	margin-left:5px;
	margin-bottom:10px;
}

.studen_sign .select_subject_button {
	margin-right: 10px;
    margin-bottom: 10px;
	position: relative;
}

.studen_sign .select_subject_button_2 h6 i {
    position: absolute;
    top: 10px;
    left: 8px;
}

.studen_sign .checked_1 h6 {
    padding-left: 14px;
}

.studen_sign .student_step_right {
}

.hidden-lg.hidden-md .student_step_5_secure_wrapper {
	position:relative;
}
.B-A-T-help-inner {
	min-height:323px;
}
.index_row_9_right {
	margin-bottom:40px;
}
.small-text {
	font-size:11px !important;
	font-weight:normal !important;
}

.student_student_step_5 .student_cc_info .s_cc_1 {
-webkit-border-radius: 3px;
-webkit-border-top-right-radius: 0px;
-webkit-border-bottom-right-radius: 0px;
-moz-border-radius: 3px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
border-radius: 3px;
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
border-right: 0px solid;
}
.student_student_step_5 .student_cc_info .s_cc_2, .student_student_step_5 .student_cc_info .s_cc_3 {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
border-right: 0px solid;
}
/*.student_student_step_5 .student_cc_info .s_cc_3 {
	border-right:0px !important;
}*/
.student_student_step_5 .student_cc_info .s_cc_4 {
-webkit-border-radius: 0px;
-webkit-border-top-right-radius: 3px;
-webkit-border-bottom-right-radius: 3px;
-moz-border-radius: 0px;
-moz-border-radius-topright: 3px;
-moz-border-radius-bottomright: 3px;
border-radius: 0px;
border-top-right-radius: 3px;
border-bottom-right-radius: 3px;
}

.studen_sign .student_step_right {
	padding-right: 0px !important;
	margin-top:5px;
}
.studen_sign .student_step_right_inner_top, .studen_sign .student_step_right_inner_bottom, .studen_sign .student_step_right_inner_middle {
	margin-left:50px; 
}

.studen_sign .student_pin_a {
	padding-left:0px !important;
	text-align:center;
}
.studen_sign .calendar .day {
	background-color:#f8f8f8;
	color: #a4a4a4;
}
.studen_sign .calendar .week {
	height: 60px;
}
.studen_sign .calendar .weekday {
    background-color: #a4a4a4;
    color: #fff;
    padding: 6px;
} 

.studen_sign .calendar .day {
	height: 60px;
}
.studen_sign .calendar .day .day-number {
    margin-top: 30px;
    margin-left: 8px;
}
.studen_sign .calendar .day.event {
	background-color:#fff;
	color: #f46722;
	}

.studen_sign .event-selected {
    background-color:#f46722;
	color: #fff;
}
.studen_sign .calendar .day.ng-scope.event.event-selected {
    background-color:#12688a;
	color: #fff;
}
.studen_sign .calendar .current-month > span {
    color:#f46722;
}
.student-signup-modal-a {}
.student-signup-modal-a .modal-header { border-bottom:1px solid #fff; }
.student-signup-modal-a .modal-body {  }
.student-signup-modal-a .modal-body i { font-size:75px; color:#f46722; }
.student-signup-modal-a .modal-body h3 { font-size:18px; color:#13678b; }
.student-signup-modal-a .modal-footer { border-top:1px solid #fff; text-align:center; }
.student-signup-modal-a .modal-footer button { margin-bottom:0px; text-transform:uppercase; }

.fc-toolbar h2 { margin-top: 10px !important; }

.none { display:none !important; }
/*Added by pavan Welihinda*/

form input.ng-invalid:not(.ng-pristine) {
     border: solid 1px red;
}

input[disabled].tutor_next_button {
    background-color: #f8f8f8;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

simple-calendar .day.disabled {
    cursor: default;
    color: silver;
    background-color: lightgray !important;
}

.step_1_common_row .row .img-circle{
	height: 110px;
	width: 120px;
}

/*Terms*/
.terms-holder{
	margin-bottom: 30px;
	margin-top: 108px;
}

.terms-holder .inner-wrapper {
	background: #fff none repeat scroll 0 0;
	padding: 20px 25px;
}

.terms-holder .heading {
	border-bottom: 1px solid #e2e2e2;
	color: #12688a;
	font-size: 2em;
	margin: 0;
	padding: 0 0 15px;
}

.terms-holder .heading.services {
	margin: 0 0 20px;
}

.success-button {
	text-align: center;
	margin: 20px 0 0;
}
.msg_type_success_danger{
    background-color: rgba(219, 37, 70, 0.98) !important;
    border-color: rgba(161, 87, 44, 0.62) !important;
}
.available_checked_time {
    border: 1px solid #E81E43;
}