/* Tutor Profile */

/***** Index ******

	1.Global
	2.Body Content
		2.1.Tutor Bio Card 
		2.2.Earning Profile
		2.3.Tutor Profile
	3.Media Querry
		3.1.Mobile


*****/
/* Global */
body{
	color: #7a7a7a;
}

h1, h2, h3, h4, h5, h6 {
    color: #222222;
}

/* Body Content */
.panel{
	background: none;
	border: none;
	box-shadow: none;
}

	/* Tutor Bio Card */
	.profile-card{
		text-align: center;
		margin-bottom: 50px;
	}

		.panel .inner-wrapper{
			background: #fff;
			box-shadow: 0px 0px 8px #ebebeb;
			overflow: hidden;
		}

		.profile-card .inner-wrapper{
			padding-top: 30px;
		}

			.panel ul{
				list-style: none;
				margin: 0;
				padding: 0;
			}

			.panel p{
				margin: 0;
			}

			.profile-card h3{
				margin: 23px 0 10px;
			}

			.profile-card a{
				color: #a4a4a4;
				text-transform: lowercase;
			}

			.profile-card a:hover{
				color: #f46722;
			}

			.profile-card .star-rating{
				margin-top: 18px;
			}

			.profile-card .review-stats{
				color: #a4a4a4;
				font-size: 0.8em;
				margin: 0;
			}

			.tut-bio{
				color: #a4a4a4;
				text-align: left;
				border-top: 1px solid #e2e2e2;
				padding: 0 18px 18px;
				margin-top: 18px;
			}

				.tut-bio li {
					display: inline-block;
					margin: 18px 30px 0 0;
				}

					.tut-bio p{
						font-size: 0.9em;
						margin: 0;
					}

						.tut-bio span{
							color: #7a7a7a;
						}

			.profile-card .edit-prof {
				background: #f6f6f7;
				border-top: 1px solid #e2e2e2;
				margin: 0;
				padding: 8px 0;
				text-transform: uppercase;
				display: block;
				font-size: 0.8em;
			}

	/* Earning Profile */
	.earning-info-panel .inner-wrapper{
		padding: 28px 18px;
	}

		.earning-info-panel h3{
			font-size: 1.2em;
			margin: 0 0 28px;
			position: relative;
			padding: 0 0 0 76px;
		}

		.earning-info-panel h3:before{
			content: "";
			display: block;
			background: url(../images/wallet.png) no-repeat;
			width: 32px;
			height: 32px;
			position: absolute;
			top: 0;
			left: 12px;
		}

		.earning-info li {
			display: block;
			overflow: hidden;
			border-top: 1px solid #f3f3f3;
			padding: 18px 0;
			color: #a4a4a4;
			font-size: 0.95em;
		}

		.earning-info li:last-child{
			padding-bottom: 0;
		}

			.earning-info li span{
				color: #666;
			}

			.pay-period-wrapper{
				overflow: hidden;
				width: 100%;
			}

				.pay-period-wrapper .pp-earning, 
				.earning-info .ttol-payments{
					color: #12688a;
					font-size: 1.2em;
					line-height: 1;
				}

				.earning-info .ttol-payments{
					float: right;
				}

	/* Tutor Profile */
	.tutor-profile .inner-wrapper{
		padding: 7px 0 35px;
	}

		.main-sub-sections{
			border-bottom: 1px solid #e2e2e2;
		}

		.main-sub-sections:last-child{
			border: none;
		}

			.main-sub-sections .sub-inner-wrapper{
				padding: 0 40px;
				overflow: hidden;
			}

				.main-sub-sections .title{
					overflow: hidden;
					border-bottom: 1px solid #e2e2e2;
					padding: 28px 0;
				}

				.subject-tests .title{
					border: none;
				}

					.main-sub-sections h3{
						margin: 0;
						font-size: 1.2em;
						float: left;
					}

					.main-sub-sections h4{
						margin: 0 0 5px;
						font-size: 0.9em;
						color: #e2e2e2;
					}

					.section-icons{
						float: right;
					}

						.section-icons li {
							color: #c9cacb;
							display: inline;
							font-size: 1.1em;
							font-weight: 300;
							margin-right: 28px;
						}

						.section-icons li:last-child{
							margin: 0;
						}

				.sub-section{
					overflow: hidden;
					padding: 28px 0;
					border-bottom: 1px solid #e2e2e2;
				}

				.sub-inner-wrapper .sub-section:last-child{
					border: none;
				}

					.sub-tests .test-result-panel{
						border: 1px solid #e2e2e2;
						display: inline-block;
						margin-bottom: 2px;
						overflow: hidden;
						padding: 10px 12px;
						width: 49%;
						border-radius: 5px;
					}

						.sub-tests .test-result-panel h4{
							color: #dcdcdd;
							font-size: 1em;
							margin: 4px 0 0;
						}

						.test-result-panel .test-status{
							margin-right: 18px;
							text-transform: uppercase;
							font-size: 0.8em;
						}

							.test-status.passed{
								color: #9be72f;
							}

						.test-result-panel .fa-trash{
							color: #c9cacb;
						}

					.test-result-panel.fail{
						color: #e2574c;
						border-color: #f2b2ad;
						background: #fef7f7;
					}

						.sub-tests .test-result-panel.fail h4{
							color: #e2574c;
						}

						.test-result-panel.fail .fa-trash{
							color: #e2584d;
						}

					.sub-section .specialized{
						margin-bottom: 10px;
					}

						.sub-section .tick .fa{
							color: #f57131;
							margin-right: 5px;
						}

					.plans table {
						border: 1px solid #dededf;
					}

			.tutor-experiance .sub-section .expe{
				margin-bottom: 10px;
			}

				.tutor-experiance .sub-section i{
					float: right;
					color: #c9cacb;
				}

/* Media Querry */
/* Mobile */
@media screen and (max-width: 767px) {
	.tut-bio {
		font-size: 0.9em;
	}

		.tut-bio li {
			margin-right: 7px;
		}

	.main-sub-sections .sub-inner-wrapper {
		padding: 0 30px;
	}

		.main-sub-sections h3 {
			float: none;
			text-align: center;
		}

		.main-sub-sections .title {
			padding: 28px 0 20px;
		}

		.section-icons {
			margin: 10px 0 0;
			text-align: center;
			width: 100%;
		}

			.section-icons li {
				margin-right: 12px;
			}

		.main-sub-sections h4 {
			margin: 8px 0 5px;
		}

		.sub-tests .test-result-panel{
			width: 100%;
		}

}

